#container1{
        height: 300px;
        width: 600px;
        margin: 100px auto;
        border: 1px solid grey;
        border-radius: 15px;
    }
    #container1 button{
		margin-top:66px;
        margin-left:136px;
        background: burlywood;
        border: none;
        border-radius: 20px;
       
        padding: 5px 30px;
        color: green;
		font-family: "Gochi Hand", cursive;
        font-size: 20px;
        outline: none;
    }
    #container1 #time{
        font-size: 50px;
       margin-top:66px;
        margin-left:186px;
        
    }